<div class="col-sm-6 col-lg-4">
	<div class="card">
		<%= link_to post do %>
	  	<div class="card-topper" style="background-image: url(<%= post.banner_image_url %>);"></div>
		<% end %>
	  <div class="card-body">
	    <h5 class="card-title"><%= link_to post.title, post %></h5>
	    <h6 class="published-date"><%= post.display_day_published %></h6>
	    <%= link_to post do %>
	    	<p class="card-text text-justify"><%= post.body.truncate(255).html_safe %></p>
	    <% end %>
	  </div>
	</div>
</div>